<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1" preserve-order="true">

        <classes>
            <class name="com.demo.javaIO.java7.file.parameterizedTest2">
                <methods>
                    <include name=".*" />
                    <parameter name="name" value="telorb" />
                    <parameter name="age" value="28" />
                </methods>
            </class>

        </classes>
    </test>
</suite>